<!-- patTemplate:tmpl name="article" -->
<h3>{HEADLINE}</h3>
<div id="loading" style="display:none;"><img src="../images/loading.gif" alt="loading..." /></div>
<div id="result" style="display:none;"></div>
<form id="myForm" method="POST" action="{URL_PROSES}">
<table border="0" cellspacing="0">
	<tr class='table-common-even'>
		<td>Nominal Setoran</td><td>:</td><td><input type="text" name="nominal" maxlength="25" size="25"></input></td><td width=43%></td>
	</tr>
	<tr>
		<td>Jenis Pembayaran</td><td>:</td>
		<td>
			<!-- patTemplate:tmpl name="data" -->
			<input type='radio' name='setoran' value="{ID}">&nbsp;&nbsp;{NAMA}</input><br />
			<!-- /patTemplate:tmpl -->
		</td><td width=43%></td></th>
	</tr>
	<tr class='table-common-even'>
		<td>Keterangan</td><td>:</td><td><input type="text" name="ket" maxlength="" size="25"></input></td><td width=43%></td></th>
	</tr>
	<tr><td colspan=4><hr /></td></tr>
	<tr class='table-common-even'>
		<th colspan=3>
			<input type="hidden" name="btn" value="Insert">
			<input type="Submit" value="Submit"></input>
			<input type="Reset" value="Reset"></input>
		</th><td width=43%></td></th>
	</tr>
</table>
</form>
<!-- /patTemplate:tmpl -->
